html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    /*     padding: 0; */
    /*     margin: 0; */

    letter-spacing: 0.07em;
    line-height: 1;
    text-decoration: none;
    list-style: none;
    font-weight: 200;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    background-color: hsla(240, 5%, 100%, 1);
}
